.footer
    position: relative 
.maps
    position: absolute
    left: 0
    top: 0   
    width: 50% 
    z-index: 0
.ymap-container 
    position: relative
    overflow: hidden
    cursor: pointer
    background: url('../img/footer/maps.png') #ffffff no-repeat
    background-position: center center
    background-size: cover
/* Блок, в котором появится Яндекс.Карта */
#map-yandex 
    position: relative
    z-index: 7
    width: 100%
    height: 640px
    cursor: pointer
    background-color: transparent
.loader 
    position: absolute
    z-index: 15
    top: -100%
    left: 0
    box-sizing: border-box
    width: 100%
    height: 100%
    overflow: hidden
    color: #000000
    transition: opacity .7s ease
    opacity: 0
    background-color: rgba(0,0,0,.55)

 
.loader:after,
.loader:before 
  box-sizing: border-box

 
.loader.is-active 
  top: 0
  opacity: 1
 
.loader-default:after 
    position: absolute
    top: calc(50% - 24px)
    left: calc(50% - 24px)
    width: 48px
    height: 48px
    content: ' '
    animation: rotation 1s linear infinite
    border: solid 8px #ffffff
    border-left-color: transparent
    border-radius: 50%

@keyframes rotation 
    from 
    transform: rotate(0)
    to 
    transform: rotate(359deg)

 
@keyframes blink 
    from 
    opacity: .5
    to 
    opacity: 1
.contacts
    padding-top: 70px
    position: absolute
    top: 0
    right: 240px
    &__title
        +bold
        font-size: 22px
        line-height: 32px
        margin-bottom: 90px
        width: 100%
        max-width: 350px
    &-block
        display: flex
        justify-content: flex-end
    &-list
        padding: 0
        list-style: none
        &__icon
            width: 20px
            height: 20px
            text-align: center
            margin-right: 20px
        &__item
            display: flex
            flex-wrap: wrap
            align-items: flex-start
            margin-bottom: 28px
            width: 100%
            max-width: 220px
        &__title
            display: inline-block
            font-size: 16px
            line-height: 26px
        &__subtitle
            display: inline-block
            padding-left: 40px
            font-size: 16px
            line-height: 26px
            +bold
        &__phone
            display: inline-block
            color: $text-color
            font-size: 16px
            line-height: 26px
            text-decoration: none
            padding-left: 40px
            +bold
@media (max-width: 1200px)
    .contacts
        right: 120px
@media (max-width: 992px) 
    .contacts
        right: 20px
@media (max-width: 768px)
    .maps
        top: 100%   
        width: 100%
    .contacts
        &-block
            flex-direction: column
    .contacts
        position: relative !important
        margin-right: auto
        margin-left: auto
        right: 0
        padding-top: 39px
        &__title
            text-align: center
            +bold
            font-size: 20px
            line-height: 32px
            margin-bottom: 40px
            max-width: 550px
        &-list
            width: 100%
            max-width: 200px
            margin-left: auto
            margin-right: auto
            &__title
                font-size: 14px
                line-height: 20px
            &__subtitle
                font-size: 14px
                line-height: 20px
            &__phone
                font-size: 14px
                line-height: 20px
@media (max-width: 567px)
    .contacts
        padding: 48px 0px 31px 15px
        &-block
            flex-direction: column
        &__title
            text-align: center
            font-size: 18px
            line-height: 22px
            max-width: 350px
            margin-bottom: 34px
        &-list
            &__icon
                margin-right: 10px
            &__title
                font-size: 16px
                line-height: 26px
            &__subtitle
                font-size: 16px
                line-height: 26px
                padding-left: 30px
            &__phone
                font-size: 16px
                line-height: 26px
                padding-left: 30px 
@media (max-width: 420px)
    .contacts
        &__title
            text-align: left
        &-list
            margin: 0px