.hero
    padding: 50px 0
    background-color: $secondary
    &-block
        display: flex
    &-text
        flex-basis: 50%
        padding-right: 50px
        &__title
            font-size: 41px
            line-height: 55px
            margin-left: -5px
            margin-bottom: 17px
            +bold
        &__subtitle
            font-size: 20px
            line-height: 65px
            margin-bottom: 48px
            +bold
            display: inline-block
    &-list
        padding: 0
        margin: 0
        &__item
            display: flex
            align-items: center
            margin-bottom: 25px
            &:last-child
                margin-bottom: 0
        &__image
            width: 40px
            height: 40px
            border: 2px solid $main-color
            padding: 10px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 50%
            margin-right: 28px
        &__text
            display: block
            font-size: 14px
            line-height: 23px
            max-width: 250px
    &-image
        position: relative
        width: 100%
        max-width: 630px
        height: 490px
        max-height: 488px
        min-height: 245px
        overflow: hidden
        & img
            position: absolute
            right: 0%
            top: 0%
            height: 100%
            width: 100%
            max-width: 580px
            -webkit-transform: translate(-50%,-50%)
            -ms-transform: translate(-50%,-50%)
            transform: translate(-50%,-50%)
@media (max-width: 1200px)
    .hero
        &-block
            display: flex
        &-text
            &__title
                font-size: 34px
                line-height: 50px
            &__subtitle
                font-size: 16px
        &-list
            margin-bottom: 44px
        &-text
            padding-right: 10px
        &-image
            width: 100%
            max-width: 430px 
@media (max-width: 992px)
    .hero
        &-block
            flex-direction: column
        &-text
            &__title
                font-size: 34px
                line-height: 25px
                margin-bottom: 10px
                text-align: center
            &__subtitle
                font-size: 18px
                margin-bottom: 10px
                display: block
                text-align: center
        &-list
            max-width: 100%
            padding: 0px 170px
            margin-bottom: 44px
            &__item
                margin-bottom: 21px
        &-image
            margin-left: auto
            margin-right: auto
            width: 570px
            max-height: 388px
            min-height: 388px
        &-text
            padding-right: 10px
@media (max-width: 768px)
    .hero
        padding: 24px 15px 40px 17px
        &-text
            &__title
                font-size: 29px
                line-height: 28px
                margin-bottom: 8px
            &__subtitle
                font-size: 16px
                line-height: 20px
                margin-bottom: 27px
        &-list
            padding: 0px 130px
            &__item
                margin-bottom: 21px
            &__image
                margin-right: 14px
            &__text
                font-size: 12px
                line-height: 15px
        &-image
            margin-top: -8px
            width: 100%
            max-width: 420px
            min-height: 245px
            margin-left: auto
            margin-right: auto
@media (max-width: 567px)
    .hero
        padding: 26px 2px 40px 18px
        &-text
            &__title
                font-size: 24px
                text-align: left
                margin-left: 0px
            &__subtitle
                text-align: left
        &-list
            padding: 0px 0px
            margin-bottom: 44px
        &-image
            margin-left: auto
            margin-right: auto
            width: 100%
            max-height: 230px
            margin-left: -8px
            & img
                position: absolute
                right: 1%
                height: 96%

 