.portfolio
    background: $secondary url('../img/portfolio/portfolio-pattern.jpg') repeat-y center left
    background-size: 50%
    &-text
        &__title
            display: block
            font-size: 30px
            max-width: 400px
            margin: auto
            margin-bottom: 5px
        &__subtitle
            display: block
            font-size: 30px
            line-height: 45px
            max-width: 790px
            +bold
            margin: auto
            margin-bottom: 90px
    &__arrows
        max-width: 120px
        margin: auto
        margin-top: 68px
        display: flex
        justify-content: space-between
.slider
    &__item
       &:focus
            outline: none
    &__image 
        margin: auto
        position: relative
        width: 370px
        height: 280px
        overflow: hidden 
        & img
            position: absolute
            left: 0%
            top: 0%
            height: 100%
            width: auto
            -webkit-transform: translate(-50%,-50%)
            -ms-transform: translate(-50%,-50%)
            transform: translate(-50%,-50%)
@media (max-width: 992px)
    .portfolio 
       &-text
            &__title
                font-size: 27px
                max-width: 400px
                margin-bottom: 2px
            &__subtitle
                text-align: center
                font-size: 27px
                line-height: 22px
                max-width: 100%
                +bold
@media (max-width: 567px)
    .portfolio
        padding: 40px 0px 60px 0px
        &-text
            &__title
                font-size: 18px
                max-width: 300px
                margin-bottom: 2px
            &__subtitle
                text-align: center
                font-size: 18px
                line-height: 22px
                max-width: 90%
                +bold
                margin: auto
                margin-bottom: 40px
        &__arrows
            margin-top: 44px
    .slider
        padding: 0px 28px

