.portfolio
    background: $secondary url('../img/portfolio/portfolio-pattern.jpg') repeat-y center left
    background-size: 50%
    padding: 90px 0px
    &__title
        font-size: 30px
        line-height: 45px
        max-width: 600px
        margin: auto
        margin-bottom: 95px
    &__arrows
        max-width: 120px
        margin: auto
        margin-top: 68px
        display: flex
        justify-content: space-between
.slider
    &__image
        margin: auto
@media (max-width: 567px)
    .portfolio
        padding: 41px 0px
        &__title
            font-size: 17px
            line-height: 30px
            margin-bottom: 40px
        &__arrows
            margin-top: 45px
    .slider
        padding: 0px 20px

