@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Cyrl Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: local("../fonts/MuseoSansCyrl/MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: local("../fonts/MuseoSansCyrl/MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Cyrl Light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 990px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 580px;
    width: 95%;
  }
}

@media (max-width: 567px) {
  .container {
    width: 320px;
    width: 95%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.back-button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 14px 25px;
  margin-left: 20px;
  margin-bottom: 20px;
  position: fixed;
  right: 0;
  bottom: 0;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
}

.back-button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding: 49px 0;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
}

.section-subtitle {
  font-size: 16px;
  display: block;
}

.input {
  border: 1px solid #dddddd;
  padding: 24px 26px;
  font-size: 15px;
  border-radius: 10px;
  border-color: grey;
  outline: none;
}

.input:focus {
  border-color: orange;
}

@media (max-width: 768px) {
  .section {
    padding: 50px 22px;
  }
}

/* Импорт стилей шапки */
.navbar {
  padding: 6px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar-block__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333333;
  font-size: 13px;
}

.navbar-block__button {
  margin-left: 28px;
  text-decoration: none;
  color: #333333;
  font-size: 13px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
}

.navbar-block__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
  margin-top: 7px;
}

@media (max-width: 567px) {
  .navbar-block__contacts {
    display: none;
  }
  .navbar-block__button {
    font-size: 10px;
    padding: 15px 26px;
  }
  .navbar-block__logo {
    width: 90px;
  }
}

/* Стили для главного экрана */
.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 51%;
      flex-basis: 51%;
  padding-right: 100px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 17px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  font-size: 20px;
  line-height: 65px;
  margin-bottom: 47px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
  display: inline-block;
}

.hero-list {
  padding: 0;
  margin: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 28px;
}

.hero-list__text {
  display: block;
  font-size: 14px;
  line-height: 24px;
  max-width: 250px;
}

@media (max-width: 1200px) {
  .hero-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero-text__title {
    font-size: 38px;
    line-height: 50px;
  }
  .hero-text__subtitle {
    font-size: 18px;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 992px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-text__title {
    font-size: 34px;
  }
  .hero-text__subtitle {
    font-size: 18px;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-image {
    text-align: center;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 50px 20px;
  }
  .hero-text__title {
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__image {
    margin-right: 18px;
  }
  .hero-list__text {
    font-size: 12px;
    line-height: 16px;
  }
}

/* Стили для блока offer*/
.offer {
  background: url("../img/offer/offer-bg.png") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer::before {
  content: ' ';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer-block__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 19px;
}

.offer-block__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer-block__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer-block__input:first-child {
  margin-right: 10px;
}

.offer-block__button {
  width: 100%;
  min-height: 70px;
  margin-bottom: 26px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
}

.offer-block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer-block__info-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  text-align: right;
}

.offer-block__info-contacts {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 4px;
  padding-right: 8px;
}

.offer-block__info-description {
  width: 50%;
  margin-right: 30px;
}

.offer-block__info-manager {
  font-size: 15px;
  line-height: 24px;
}

.offer-block__info-phone {
  color: #333333;
  font-size: 15px;
  text-decoration: none;
  padding-right: 68px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer-block__input {
    width: 193px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .offer-block__button {
    font-size: 13px;
  }
  .offer-block__info {
    margin-bottom: 18px;
  }
  .offer-block__info-contact {
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
  }
  .offer-block__info-manager {
    font-size: 13px;
    line-height: 24px;
  }
  .offer-block__info-contacts {
    font-size: 13px;
    line-height: 24px;
  }
  .offer-block__info-description {
    width: 100%;
  }
  .offer-block__info-phone {
    display: inline-block;
    padding-right: 0;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .offer {
    background-size: cover;
  }
  .offer-block__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer-block__button {
    font-size: 13px;
  }
  .offer-block__info {
    width: 100%;
    display: inline-block;
    margin-bottom: 18px;
  }
  .offer-block__info-contact {
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
  }
  .offer-block__info-description {
    width: 100%;
  }
  .offer-block__info-phone {
    display: inline-block;
    padding-right: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #ffffff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer-block__title {
    font-size: 18px;
    line-height: 26px;
  }
  .offer-block__button {
    font-size: 15px;
    margin-bottom: 27px;
  }
  .offer-block__info {
    width: 100%;
    display: inline-block;
  }
  .offer-block__info-description {
    margin-bottom: 10px;
  }
  .offer-block__info-manager {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 14px;
  }
  .offer-block__info-contact {
    display: inline-block;
    text-align: left;
    width: 100%;
  }
  .offer-block__info-contacts {
    font-size: 16px;
    line-height: 24px;
  }
  .offer-block__info-phone {
    font-size: 17px;
    line-height: 24px;
    display: inline-block;
    margin-top: 6px;
    padding-right: 0;
    width: 100%;
  }
}

/* Стили модального окна*/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #ffffff;
  padding: 41px 79px;
  text-align: center;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.modal-dialog__title {
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 25px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
}

.modal-dialog__subtitle {
  display: block;
  font-size: 12px;
  line-height: 35px;
  margin-bottom: 26px;
}

.modal-dialog__input {
  width: 100%;
  padding: 13px 26px;
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 11px;
}

.modal-dialog__button {
  width: 100%;
  margin-top: 13px;
  font-size: 13px;
  line-height: 18px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
  border: none;
}

.modal-dialog__button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.modal-dialog__contacts {
  display: block;
  padding: 0px 27px;
  font-size: 12px;
  line-height: 16px;
  margin-top: 23px;
}

.modal-dialog__contacts-phone {
  display: block;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
  color: #333333;
  margin-top: 5px;
}

@media (max-width: 567px) {
  .modal-dialog {
    padding: 41px 50px;
    font-family: 'Museo Sans Cyrl Bold', sans-serif;
    font-weight: 700;
  }
  .modal-dialog__title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .modal-dialog__subtitle {
    display: block;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 14px;
  }
  .modal-dialog__input {
    padding: 10px 26px;
    font-size: 12px;
    line-height: 24px;
  }
  .modal-dialog__input:first-child {
    margin-bottom: 10px;
  }
  .modal-dialog__button {
    width: 100%;
    margin-top: 10px;
    font-size: 13px;
    line-height: 18px;
  }
  .modal-dialog__contacts {
    display: block;
    padding: 0px 10px;
    font-size: 12px;
    line-height: 16px;
    margin-top: 20px;
  }
  .modal-dialog__contacts-phone {
    font-size: 17px;
  }
}
/*# sourceMappingURL=style.css.map */