@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Cyrl Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: local("../fonts/MuseoSansCyrl/MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: local("../fonts/MuseoSansCyrl/MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Cyrl Light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 990px;
    padding: 0px 40px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 760px;
    padding: 0px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 580px;
    width: 95%;
  }
}

@media (max-width: 567px) {
  .container {
    width: 320px;
    width: 95%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

@media (max-width: 768px) {
  .button:hover {
    background-color: #ffd200;
  }
}

.back-button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 14px 25px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: fixed;
  right: 0;
  bottom: 0;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
}

.back-button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

@media (max-width: 768px) {
  .back-button {
    display: none;
  }
}

.section {
  padding: 94px 0px;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
  text-align: center;
  max-width: 478px;
}

.section-subtitle {
  font-size: 16px;
  display: block;
}

.input {
  border: 1px solid #dddddd;
  padding: 24px 26px;
  font-size: 15px;
  border-radius: 10px;
  border-color: grey;
  outline: none;
}

.input:focus {
  border-color: orange;
}

@media (max-width: 768px) {
  .section {
    padding: 50px 22px;
  }
}

.arrows__right:hover, .arrows__left:hover {
  cursor: pointer;
}

#brif-name-error {
  position: absolute;
  top: 24px;
  right: 30px;
  color: red;
}

#brif-phone-error {
  position: absolute;
  top: 24px;
  right: 30px;
  color: red;
}

#brif-email-error {
  position: absolute;
  top: 24px;
  right: 30px;
  color: red;
}

#offer-name-error {
  position: absolute;
  top: 50px;
  left: 15px;
  font-size: 14px;
  color: red;
}

#offer-phone-error {
  position: absolute;
  top: 50px;
  right: 60px;
  font-size: 14px;
  color: red;
}

#modal-name-error {
  position: absolute;
  top: 24px;
  right: 20px;
  font-size: 14px;
  color: red;
}

#modal-phone-error {
  position: absolute;
  top: 24px;
  right: 20px;
  font-size: 14px;
  color: red;
}

/* Импорт стилей шапки */
.navbar {
  padding: 6px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar-block__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333333;
  font-size: 13px;
}

.navbar-block__button {
  margin-left: 28px;
  text-decoration: none;
  color: #333333;
  font-size: 13px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
}

.navbar-block__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
  margin-top: 7px;
}

@media (max-width: 600px) {
  .navbar {
    padding: 16px 14px;
  }
  .navbar-block__contacts {
    display: none;
  }
  .navbar-block__button {
    font-size: 10px;
    padding: 15px 26px;
  }
  .navbar-block__logo {
    width: 90px;
  }
}

/* Стили для главного экрана */
.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 51%;
      flex-basis: 51%;
  padding-right: 100px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 17px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  font-size: 20px;
  line-height: 65px;
  margin-bottom: 47px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
  display: inline-block;
}

.hero-list {
  padding: 0;
  margin: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  display: block;
  font-size: 14px;
  line-height: 24px;
  max-width: 250px;
}

.hero-image {
  position: relative;
  width: 570px;
  max-height: 488px;
  min-height: 245px;
  overflow: hidden;
}

.hero-image img {
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  width: auto;
}

@media (max-width: 1200px) {
  .hero-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero-text__title {
    font-size: 34px;
    line-height: 50px;
  }
  .hero-text__subtitle {
    font-size: 16px;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 992px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-text__title {
    font-size: 34px;
    line-height: 25px;
    margin-bottom: 10px;
    text-align: center;
  }
  .hero-text__subtitle {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
  }
  .hero-list {
    max-width: 100%;
    padding: 0px 170px;
    margin-bottom: 44px;
  }
  .hero-list__item {
    margin-bottom: 21px;
  }
  .hero-image {
    margin-left: auto;
    margin-right: auto;
    width: 570px;
    max-height: 488px;
    min-height: 488px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 24px 15px 40px 17px;
  }
  .hero-text__title {
    font-size: 29px;
    line-height: 28px;
    margin-bottom: 8px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 26px;
  }
  .hero-list {
    padding: 0px 130px;
  }
  .hero-list__item {
    margin-bottom: 21px;
  }
  .hero-list__image {
    margin-right: 14px;
  }
  .hero-list__text {
    font-size: 12px;
    line-height: 15px;
  }
  .hero-image {
    margin-top: -8px;
  }
}

@media (max-width: 567px) {
  .hero {
    padding: 24px 2px 40px 17px;
  }
  .hero-text__title {
    font-size: 24px;
    text-align: left;
  }
  .hero-text__subtitle {
    text-align: left;
  }
  .hero-list {
    padding: 0px 0px;
  }
  .hero-image {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    min-height: 245px;
  }
}

/* Стили для блока offer*/
.offer {
  background: url("../img/offer/offer-bg.png") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
  padding-bottom: 90px;
}

.offer::before {
  content: ' ';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer-block__window {
  position: relative;
}

.offer-block__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 19px;
  text-align: left;
}

.offer-block__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer-block__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer-block__input:first-child {
  margin-right: 10px;
}

.offer-block__button {
  width: 100%;
  min-height: 70px;
  margin-bottom: 26px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
}

.offer-block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer-block__info-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  text-align: right;
}

.offer-block__info-contacts {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 4px;
  padding-right: 8px;
}

.offer-block__info-description {
  width: 50%;
  margin-right: 30px;
}

.offer-block__info-manager {
  font-size: 15px;
  line-height: 24px;
}

.offer-block__info-phone {
  color: #333333;
  font-size: 15px;
  text-decoration: none;
  padding-right: 68px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer-block__window {
    position: relative;
  }
  .offer-block__input {
    width: 175px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .offer-block__button {
    font-size: 13px;
  }
  .offer-block__info {
    margin-bottom: 18px;
  }
  .offer-block__info-contact {
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
  }
  .offer-block__info-manager {
    font-size: 12px;
    line-height: 24px;
  }
  .offer-block__info-contacts {
    font-size: 12px;
    line-height: 24px;
  }
  .offer-block__info-description {
    width: 100%;
  }
  .offer-block__info-phone {
    display: inline-block;
    padding-right: 0;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .offer {
    background-size: cover;
  }
  .offer-block__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer-block__button {
    font-size: 13px;
  }
  .offer-block__info {
    width: 100%;
    display: inline-block;
    margin-bottom: 18px;
  }
  .offer-block__info-contact {
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
  }
  .offer-block__info-description {
    width: 100%;
  }
  .offer-block__info-phone {
    display: inline-block;
    padding-right: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #ffffff;
    padding: 30px 18px 21px 13px;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer-block__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
  }
  .offer-block__subtitle {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 22px;
  }
  .offer-block__input {
    margin-bottom: 8px;
  }
  .offer-block__button {
    font-size: 15px;
    margin-bottom: 23px;
  }
  .offer-block__info {
    width: 100%;
    display: inline-block;
  }
  .offer-block__info-description {
    margin-bottom: 5px;
    padding-left: 5px;
  }
  .offer-block__info-manager {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 4px;
  }
  .offer-block__info-contact {
    display: inline-block;
    text-align: left;
    width: 100%;
    padding-left: 5px;
  }
  .offer-block__info-contacts {
    font-size: 16px;
    line-height: 24px;
  }
  .offer-block__info-phone {
    font-size: 15px;
    line-height: 24px;
    display: inline-block;
    margin-top: 2px;
    padding-right: 0;
    width: 100%;
  }
}

/* Стили для блока портфолио*/
.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  font-size: 30px;
  line-height: 45px;
  max-width: 800px;
  margin-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__item:focus {
  outline: none;
}

.slider__image {
  margin: auto;
  position: relative;
  width: 370px;
  height: 280px;
  overflow: hidden;
}

.slider__image img {
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  width: auto;
}

@media (max-width: 992px) {
  .portfolio-text__title {
    font-size: 27px;
    max-width: 400px;
    margin-bottom: 2px;
  }
  .portfolio-text__subtitle {
    text-align: center;
    font-size: 27px;
    line-height: 22px;
    max-width: 100%;
    font-family: 'Museo Sans Cyrl Bold', sans-serif;
    font-weight: 700;
  }
}

@media (max-width: 567px) {
  .portfolio {
    padding: 40px 0px 60px 0px;
  }
  .portfolio-text__title {
    font-size: 18px;
    max-width: 300px;
    margin-bottom: 2px;
  }
  .portfolio-text__subtitle {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    max-width: 90%;
    font-family: 'Museo Sans Cyrl Bold', sans-serif;
    font-weight: 700;
    margin: auto;
    margin-bottom: 40px;
  }
  .portfolio__arrows {
    margin-top: 44px;
  }
  .slider {
    padding: 0px 28px;
  }
}

/* Стили для блока с ценами*/
.price__title {
  margin: auto;
  margin-bottom: 48px;
  font-size: 30px;
  line-height: 45px;
}

.price__subtitle {
  font-size: 20px;
  margin-bottom: 57px;
  text-align: center;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image::before {
  opacity: 1;
}

.card__text {
  font-size: 18px;
  padding: 40px 0px 46px 0px;
}

.card__title {
  margin-top: 0;
}

.card__image {
  position: relative;
}

.card__image::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;
}

.card__img {
  display: block;
  position: relative;
  width: 370px;
  height: 260px;
  overflow: hidden;
}

.card__img img {
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  width: auto;
}

.card__link {
  display: inline-block;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
}

.card__link:hover:after {
  height: 12px;
}

.card__link:after {
  content: ' ';
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .card {
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .card {
    max-width: 100%;
  }
  .card__image::before {
    background-image: none;
  }
  .price__title {
    font-size: 26px;
    line-height: 35px;
    margin-bottom: 28px;
  }
  .price__subtitle {
    font-size: 20px;
    margin-bottom: 58px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .card {
    margin-left: auto;
    margin-right: auto;
  }
  .card:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .card__link:hover:after {
    height: 3px;
  }
}

@media (max-width: 567px) {
  .price {
    padding: 38px 16px 14px 16px;
  }
  .price__title {
    font-size: 18px;
    line-height: 22px;
    max-width: 90%;
    margin-bottom: 24px;
  }
  .price__subtitle {
    font-size: 14px;
    margin-bottom: 58px;
    text-align: center;
  }
  .price__card {
    margin-bottom: 30px;
  }
  .card__text {
    font-size: 14px;
    padding: 27px;
  }
  .card__title {
    margin-top: 0;
    margin-bottom: 12px;
  }
}

/* Стили для блока 5 шагов до ремонта*/
.step {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  position: relative;
}

.step:after {
  content: ' ';
  width: 72px;
  height: 25px;
  position: absolute;
  background: url("../img/steps/arrow.png") no-repeat center;
  top: -10px;
  right: -15%;
}

.step:last-child::after {
  display: none;
}

.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 28px;
}

.step__text {
  font-size: 14px;
  line-height: 20px;
  max-width: 160px;
  margin: auto;
}

.steps {
  padding: 29px 0px 50px 0;
}

.steps__title {
  max-width: 700px;
  font-size: 30px;
  line-height: 45px;
  margin: auto;
  margin-bottom: 39px;
}

.steps__subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 45px;
  margin-bottom: 58px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 992px) {
  .step {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 30px;
  }
  .step::after {
    display: none;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 567px) {
  .steps {
    padding: 14px 0px 50px 0;
  }
  .steps__title {
    font-size: 19px;
    line-height: 21px;
    margin: auto;
    margin-bottom: 12px;
  }
  .steps__subtitle {
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    margin-bottom: 18px;
  }
}

/* Стили для блока бриф*/
.brif {
  background-image: url("../img/brif/brif-color-bg.jpg"), url("../img/brif/brif-bg.jpg");
  background-position: left center, center right;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
  padding: 76px 0px 72px 0px;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__block {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 214px;
  text-align: center;
}

.brif__form {
  margin-top: 20px;
}

.brif__window {
  position: relative;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}

.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 12px;
  margin-bottom: 29px;
  font-size: 16px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
}

.interview {
  padding-right: 70px;
}

.interview__title {
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 33px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
}

.interview__subtitle {
  display: block;
  font-size: 16px;
  margin-bottom: 93px;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 32px;
}

.interview-list__counter {
  display: inline-block;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  margin-right: 32px;
  border-radius: 50%;
}

.interview-list__text {
  max-width: 400px;
}

.form__heading {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 46px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
}

.form__subtitle {
  display: inline-block;
  margin-bottom: 100px;
  font-size: 16px;
}

.form__description {
  display: block;
  font-size: 16px;
}

@media (max-width: 1200px) {
  .brif {
    padding: 46px 0px;
  }
  .brif__block {
    padding-left: 80px;
  }
  .interview {
    padding-right: 100px;
  }
}

@media (max-width: 992px) {
  .brif {
    background-attachment: fixed;
  }
  .brif__block {
    padding-left: 54px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__heading {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 300px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
}

.form__title {
  font-size: 20px;
  margin-bottom: 15px;
}

.form__subtitle {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .brif {
    background-attachment: local;
    background-image: url("../img/brif/brif-color-bg.jpg"), url("../img/brif/brif-bg.jpg");
    background-position: top center, center bottom;
    background-size: 52% 48%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__block {
    padding-top: 80px;
    padding-left: 0px;
  }
  .interview {
    text-align: center;
    padding-top: 30px;
    padding-right: 0px;
  }
  .interview-list {
    text-align: left;
  }
}

@media (max-width: 532px) {
  .brif {
    padding: 15px 14px 30px 14px;
  }
  .brif__block {
    padding-top: 78px;
  }
  .brif__form {
    margin-top: 2px;
  }
  .brif__input {
    margin-bottom: 10px;
  }
  .brif__button {
    margin-top: 2px;
    margin-bottom: 27px;
    font-size: 14px;
  }
  .interview {
    text-align: left;
    padding-top: 12px;
    padding-right: 0px;
  }
  .interview__title {
    width: 90%;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 13px;
  }
  .interview__subtitle {
    width: 60%;
    font-size: 14px;
    margin-bottom: 40px;
  }
  .interview-list__item {
    margin-bottom: 24px;
  }
  .interview-list__counter {
    margin-right: 10px;
    padding: 0px 10px;
  }
  .form {
    padding-left: 0px;
  }
  .form__heading {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 22px;
    font-family: 'Museo Sans Cyrl Bold', sans-serif;
    font-weight: 700;
  }
  .form__subtitle {
    display: inline-block;
    font-size: 14px;
  }
  .form__description {
    font-size: 14px;
    width: 50%;
    line-height: 22px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Стили для подвала сайта*/
.footer {
  position: relative;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
}

.contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 69px;
  padding-left: 212px;
}

.contacts__title {
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 90px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 20px;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 28px;
  width: 190px;
}

.contacts-list__title {
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
}

.contacts-list__subtitle {
  display: inline-block;
  padding-left: 40px;
  font-size: 16px;
  line-height: 26px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
}

.contacts-list__phone {
  display: inline-block;
  color: #333333;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  padding-left: 40px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .contacts {
    padding-left: 152px;
  }
}

@media (max-width: 992px) {
  .contacts {
    padding-left: 60px;
  }
}

@media (max-width: 768px) {
  .map {
    top: 100%;
    width: 100%;
  }
  .contacts-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts {
    padding-top: 39px;
    padding-left: 40px;
  }
  .contacts__title {
    text-align: center;
    font-family: 'Museo Sans Cyrl Bold', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 40px;
  }
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 5px;
  }
  .contacts-list__title {
    font-size: 14px;
    line-height: 20px;
  }
  .contacts-list__subtitle {
    font-size: 14px;
    line-height: 20px;
  }
  .contacts-list__phone {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 567px) {
  .contacts-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts {
    padding-left: 15px;
  }
  .contacts__title {
    text-align: left;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 36px;
  }
  .contacts-list {
    display: block;
    margin-right: 5px;
  }
  .contacts-list__icon {
    margin-right: 10px;
  }
  .contacts-list__title {
    font-size: 16px;
    line-height: 26px;
  }
  .contacts-list__subtitle {
    font-size: 16px;
    line-height: 26px;
    padding-left: 30px;
  }
  .contacts-list__phone {
    font-size: 16px;
    line-height: 26px;
    padding-left: 30px;
  }
}

/* Стили модального окна*/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #ffffff;
  padding: 41px 79px;
  text-align: center;
}

.modal-dialog__window {
  position: relative;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.modal-dialog__close:hover {
  cursor: pointer;
}

.modal-dialog__title {
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 25px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
}

.modal-dialog__subtitle {
  display: block;
  font-size: 12px;
  line-height: 35px;
  margin-bottom: 26px;
}

.modal-dialog__input {
  width: 100%;
  padding: 13px 26px;
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 11px;
}

.modal-dialog__button {
  width: 100%;
  margin-top: 13px;
  font-size: 13px;
  line-height: 18px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
  border: none;
}

.modal-dialog__contacts {
  display: block;
  padding: 0px 27px;
  font-size: 12px;
  line-height: 16px;
  margin-top: 23px;
}

.modal-dialog__contacts-phone {
  display: block;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-weight: 700;
  color: #333333;
  margin-top: 5px;
}

@media (max-width: 567px) {
  .modal-dialog {
    padding: 41px 50px;
  }
  .modal-dialog__title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    font-family: 'Museo Sans Cyrl Bold', sans-serif;
    font-weight: 700;
  }
  .modal-dialog__subtitle {
    display: block;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 14px;
  }
  .modal-dialog__input {
    padding: 10px 26px;
    font-size: 12px;
    line-height: 24px;
  }
  .modal-dialog__input:first-child {
    margin-bottom: 10px;
  }
  .modal-dialog__button {
    width: 100%;
    margin-top: 10px;
    font-size: 13px;
    line-height: 18px;
  }
  .modal-dialog__contacts {
    display: block;
    padding: 0px 10px;
    font-size: 12px;
    line-height: 16px;
    margin-top: 20px;
  }
  .modal-dialog__contacts-phone {
    font-size: 17px;
  }
}
/*# sourceMappingURL=style.css.map */